HA4LINUX_BIND_HOST=0.0.0.0
HA4LINUX_BIND_PORT=8099
HA4LINUX_API_TOKEN=CHANGE_ME
HA4LINUX_TLS_ENABLED=true
HA4LINUX_TLS_CERTFILE=/etc/ha4linux/certs/server.crt
HA4LINUX_TLS_KEYFILE=/etc/ha4linux/certs/server.key
HA4LINUX_SENSORS_CPU=true
HA4LINUX_SENSORS_MEMORY=true
HA4LINUX_SENSORS_NETWORK=true
HA4LINUX_SENSORS_RAID=true
HA4LINUX_SENSORS_VIRTUALBOX=false
HA4LINUX_SENSORS_SERVICES=false
HA4LINUX_SENSORS_APP_POLICIES=true
HA4LINUX_READONLY_MODE=false
HA4LINUX_ACTUATOR_SESSION=true
HA4LINUX_ACTUATOR_APP_POLICY=true
HA4LINUX_ALLOWED_SESSION_USERS=
HA4LINUX_VIRTUALBOX_USER=
HA4LINUX_SERVICES_WATCHLIST=apache2.service,mariadb.service,smbd.service,docker.service
HA4LINUX_APP_POLICY_FILE=/etc/ha4linux/policies/apps.json
HA4LINUX_APP_POLICY_USE_SUDO_KILL=true
