@version: 3.13

source s_ha_log {
  file("/config/home-assistant.log"
    follow-freq(1)
    flags(no-parse)
    program-override("homeassistant")
  );
};

destination d_remote_udp {
  udp("{{DEST_IP}}" port({{DEST_PORT}})
      localport(0)
      so-keepalive(yes)
      log-fifo-size(1000)
      flush-lines(1)
  );
};

filter f_facility {
    facility({{FACILITY}});
};

log {
  source(s_ha_log);
  # filter(f_facility);
  destination(d_remote_udp);
};
