@version: 4.0
source s_ha_log {
  file("/config/home-assistant.log" follow_freq(1) flags(no-parse));
};
destination d_remote_syslog {
  syslog("{{ remote_host }}" port({{ remote_port }}));
};
log {
  source(s_ha_log);
  destination(d_remote_syslog);
};
destination d_local_debug { file("/tmp/syslog-ng-debug.log"); };
log {
  source(s_ha_log);
  destination(d_local_debug);
};
